<div layout="row" style="padding:100px">
    <div layout="column" flex-offset="10" flex="80" flex-offset-sm="5" flex-offset-xs="0" flex-sm="90" flex-xs="100" style="text-align:left;">
        <div layout="column" layout-align="center none">
            <div flex>
                <h1 style="text-transform:none">About Us</h1>
            </div>
            <div flex align="justify" style="padding:10px;">
                <p>
                    We are a bunch of engineers with corporate experience in software engineering and business analytics. We are building Goryd with a vision to solve the problem of car renting in India. With the use of technology, we aim to build a trusted community of
                    travelers and car owners who believe in sharing.
                </p>
            </div>
            <div flex align="justify" style="padding:10px;">
                <p>
                    Our platform will enable car owners to earn money even while their cars are idle. This can be done by registering their cars free of cost on our platform. When a tentative booking is made, car owners have a choice of approving or rejecting the
                    booking. This approval can be given after establishing contact with customers, even meeting in person over a cup of coffee.
                </p>
            </div>
            <div flex align="justify" style="padding:10px;">
                <p>Our technology will make sure that your car is safe with us.
                </p>
            </div>
        </div>
    </div>
</div>
