<div layout="row" style="padding-top:100px;">
    <div layout="column" flex-offset="10" flex="80" flex-offset-sm="5" flex-offset-xs="0" flex-sm="90" flex-xs="100">
        <div layout="row" layout-align-xs="center center">
            <h2 style="text-align:left; text-transform:none">Booking Request</h2>
        </div>
        <div layout="column" layout-sm="column" layout-xs="column" layout-wrap>
            <div layout="row" layout-padding>
                <md-card flex="45" class="md-whiteframe-5dp">
                    <md-card-title>
                        <md-card-title-media>
                            <div class="md-media-lg md-media-sm md-media-xs">
                                <img style="display:block; border:0; max-width:auto; max-height:auto;" src={{user_details.profile_pic_url}}></img>
                            </div>
                        </md-card-title-media>
                        <md-card-title-text style="padding-left:50px; text-align:left">
                            <span class="md-headline">{{user_details.name}}</span>
                            <span class="md-subhead" style="padding-bottom:10px">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>

                            <table style="width:250px;" class="list-table">
                                <tr layout="row">
                                    <td flex="33">
                                        <p>Age:</p>
                                    </td>
                                    <td flex="66">
                                        <p>{{user_details.age}}
                                            years</p>
                                    </td>
                                </tr>
                                <tr layout="row">
                                    <td flex="33">
                                        <p>Ph:
                                        </p>
                                    </td>
                                    <td flex="66">
                                        <p>{{"+91-"+user_details.mobile}}</p>
                                    </td>
                                </tr>
                                <tr layout="row">
                                    <td flex="33">
                                        <p>City:</p>
                                    </td>
                                    <td flex="66">
                                        <p>
                                            {{user_details.city}}</p>
                                    </td>
                                </tr>
                            </table>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card flex="55" class="md-whiteframe-5dp" layout-padding>
                    <md-card-title>
                        <div layout="row" layout-xs="row" layout-align-xs="none center">
                            <md-card-title-media flex="50">
                                <div class="md-media-lg card-media"><img ng-src="{{car_rent_details.car_pic}}" class="md-card-image" alt="car Photo" style="width:152px;height:114px;" layout="row"></div>
                            </md-card-title-media>
                            <div layout="column" flex="50">
                                <md-card-title-text style=" text-align:left">
                                    <span class="md-headline">{{car_rent_details.maker}}</span>
                                    <span class="md-subhead" style="padding-bottom:10px">{{car_rent_details.model}}</span>
                                </md-card-title-text>
                                <div flex layout-xs="row" layout="row">
                                    <md-button class="md-raised md-primary" ng-click="bookingApprove()" style="background-color:#4DB6AC;height:20px;">Approve</md-button>
                                    <md-button class="md-raised md-primary" style="background-color:#e57373;height:20px;" ng-click="bookingReject()">Reject</md-button>
                                </div>
                            </div>
                        </div>
                    </md-card-title>
                </md-card>
            </div>
            <md-card class="md-whiteframe-5dp" ng-show="bookingCard">
                <md-card-content layout="column">
                    <div layout="row" layout-align="start start">
                        <md-card-title-text class="car-list-header" flex="70">
                            <span class="md-headline" style="float:left;">{{bookingText}}</span>
                            <p>based on your input</p>
                        </md-card-title-text>
                        <md-card-title-media flex="30">
                            <div class="md-media-md card-media"><img ng-src="images/FORD_FOCU_2012-1.png" class="md-card-image" alt="car Photo" style="width:80px;height:60px;margin-right: 15%; " layout="row"></div>
                        </md-card-title-media>
                    </div>
                    <tr>
                        <td>
                            {{bookingText}}</td>
                        <td>
                            {{bookingUser}}
                        </td>
                        <td>
                            {{bookingCar}}</td>
                    </tr>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="cancelBooking()">Cancel</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div layout="row">
            <div flex="100">
                <md-card>
                    <md-card-title>
                        <md-card-title-text style="padding-left:50px; text-align:left">
                            <span>Pickup time:
                                {{car_rent_details.pickup_time}}</span>
                            <span>Trip ends at:
                                {{car_rent_details.drop_time}}</span>
                            <span>Total rent hours:
                                {{car_rent_details.rent_hours}}
                                hours</span>
                            <span>Deposit: Rs.
                                {{car_rent_details.deposit}}
                                (Refundable)</span>
                            <span>Rent: Rs.
                                {{car_rent_details.total_rent}}</span>
                            <span>Payment mode:
                                {{car_rent_details.payment_mode}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
    </div>
    <div flex></div>
</div>
