<!-- <style>
  calendar-md md-content > md-content.calendar >:not(:first-child) > *.md-whiteframe-12dp {
      background-color: white;
  }
  calendar-md md-content > md-content.calendar >:not(:first-child) > *.active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
      background: rgba(0, 150, 0, 0.5);
  }
</style> -->

<!-- <div style="padding-top:50px; min-height:100vh;">
  <calendar-md flex layout layout-fill style="height:80vh"
    calendar-directon="direction"
    on-prev-month="prevMonth"
    on-next-month="nextMonth"
    on-day-click="dayClick"
    title-format="'MMMM y'"
    ng-model="selectedDate"
    week-starts-on="firstDayOfWeek"
    data-start-month=""
    data-start-year="2016"
    tooltips="tooltips"
    day-format="dayFormat"
    day-label-format="'EEE'"
    day-label-tooltip-format="'EEEE'"
    day-tooltip-format="'fullDate'"
    day-content="setDayContent"
    disable-future-selection="false"></calendar-md>
    <button ng-click="clickMe()">Send dates</button>
</div> -->
