<div layout="row" style="padding:100px">
    <div layout="column" flex-offset="10" flex="80" flex-offset-sm="5" flex-offset-xs="0" flex-sm="90" flex-xs="100" style="text-align:left;">
        <div layout="row" layout-align-xs="center center">
            <h2 style="text-align:left; text-transform:none">Renter and Vehicle Eligibility Requirements</h2>
        </div>
        <p>
            <div layout="row" layout-align-xs="center center">
                <h3 style="text-align:left; text-transform:none">Renter Eligibility Requirement:</h3>
            </div>
            <ul style='text-align:justify;'>
                <li type='1'>
                    To be eligible, you must meet all of the following:
                    <ul>
                        <li type='1'>
                            Be at least 23 years old.
                        </li>
                        <li type='1'>
                            Have no major violations or alcohol/drug related incidents in the past three years.
                        </li>
                        <li type='1'>
                            Have no more than two violations or accidents combined in the past three years.
                        </li>
                        <li type='1'>
                            Drivers under age 23 must have a clean driving record (no violations or accidents in the last three years)
                        </li>
                        <li type='1'>
                            Must have been licensed for at least two years.
                        </li>
                    </ul>
                </li>
                <li type='1'>
                    Renter Eligibility Documentation
                    <ul>
                        <li type='1'>
                            Motor Vehicle Records shall be provided on all prospective "Renters" prior to formal acceptance into the Goryd program.
                        </li>
                        <li type='1'>
                            Acceptance of a Renter into the Goryd program shall be in the sole discretion of Goryd.
                        </li>
                    </ul>
                </li>
                <li type='1'>
                    Renter Eligibility Continued Monitoring
                    <ul>
                        <li type='1'>
                            Goryd may periodically monitor any Renter driving record to ensure that such Renter continues to qualify for membership under our Renter Eligibility Requirements.
                        </li>
                        <li type='1'>
                            In addition, Renter reviews can be triggered by a number of "Source ddEvents." "Source Events" include:
                            <ul>
                                <li type='a'>

                                    External notification by the State DMV (if supported by the driver license issuer state);
                                </li>
                                <li type='a'>
                                    External notification by any Goryd User; or
                                </li>
                                <li type='a'>
                                    Internal notification by the Goryd system functionality that we may establish and maintain from time to time and in our sole discretion.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
        <p>
            <div layout="row" layout-align-xs="center center">
                <h3 style="text-align:left; text-transform:none">Vehicle Eligibility Requirement:</h3>
            </div>

            <ul style='text-align:justify;'>
                <li type='1'>
                    For your vehicle to be eligible, your vehicle must meet all of the following:
                    <ul>
                        <li type='1'>
                            Be well maintained:
                            <ul>
                                <li type='a'>
                                    Upon applying to join Goryd, Owners may be required to submit documented proof of the last major service performed.
                                </li>
                                <li type='a'>
                                    Owners are expected to properly schedule and record maintenance of the vehicles using the applicable manufacturer's maintenance schedule as a guide.
                                </li>
                            </ul>
                        <li type='1'>
                            Be manufactured on or after the year 2006
                        </li>
                        <li type='1'>
                            Have fewer than 80,000 kilometers. Owner must immediately cease renting the vehicle and notify Goryd if this mileage limit is exceeded.
                        </li>
                        <li type='1'>
                            We do not have an Actual Cash Value limit on vehicles.
                        </li>
                        <li type='1'>
                            Have not been altered for greater performance and/or physical appearance modification that materially changes the performance or purpose of the vehicle as determine by Goryd in its sole discretion.Vehicles whose engines have been altered in the
                            aftermarket for greater performance and/or vehicles whose physical appearances have been modified in a manner that materially changes the performance or purpose of the vehicle are ineligible if Goryd identifies a liability concern.
                        </li>
                        <li type='1'>
                            Have 8 or less seats
                        </li>
                        <li type='1'>
                            Be a private passenger vehicle with at least four wheels.
                        </li>
                        <li type='1'>
                            Have photos of all four sides of the vehicle uploaded to the Goryd website to confirm no prior damage or any existing damage.
                        </li>
                        <li type='1'>
                            Have not been issued a salvage/repair title.
                        </li>
                    </ul>
                </li>
                <li type='1'>
                    Vehicle Eligibility Documentation
                    <ul>
                        <li type='1'>
                            Goryd may require any documents necessary to establish vehicle eligibility prior to formal acceptance into the Goryd program.
                        </li>
                        <li type='1'>
                            Acceptance of a vehicle into the Goryd program shall be in the sole discretion of Goryd.
                        </li>
                    </ul>
                </li>
                <li type='1'>
                    Vehicle Eligibility Continued Monitoring
                    <ul>
                        <li type='1'>
                            Goryd may periodically monitor any records to ensure that such vehicle continues to qualify for eligibility under our Vehicle Eligibility Requirements.
                        </li>
                        <li type='1'>
                            In addition, vehicle reviews can be triggered by a number of "Source Events." "Source Events" include:
                            <ul>
                                <li type='1'>
                                    External notification by the State DMV (if supported by the driver license issuer state)
                                </li>
                                <li type='1'>
                                    External notification by any Goryd User; or
                                </li>
                                <li type='1'>
                                    Internal notification by the Goryd system functionality that we may establish and maintain from time to time and in our sole discretion.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>
