<div layout="row" layout-align="center">
    <h3>Why should you rent your car?</h3>
</div>
<div layout="row" flex layout-sm="column" layout-xs="column" layout-align="center center">
    <div flex>
        <i class="fa fa-money fa-5x"></i>
        <h4>Extra Income</h4>
        <p style="font-size:15px;">
            Earn upto 6 Lakhs a year by renting<br/>
            your car when you are not using it
        </p>
    </div>
    <div flex>
        <i class="fa fa-users fa-5x"></i>
        <h4>Meet Awesome People</h4>
        <p style="font-size:15px;">
            Rent your car, meet awesome people<br/>
            and contribute to the community
        </p>
    </div>
    <div flex>
        <i class="fa fa-car fa-5x"></i>
        <h4>Free Car Wash</h4>
        <p style="font-size:15px;">
            Get free car wash after every<br/>
            5 trips as a complementary
        </p>
    </div>
</div>
<div layout="row" layout-align="center">
    <!-- <md-button class="md-raised" style="background-color:rgba(26, 24, 20, 0.7); color:white; text-transform:none;">Learn more</md-button> -->
</div>
