<!-- <div layout="row" layout-align="center center">
  <div flex style="text-align:center">
    <div layout="column" layout-align="center center" style="text-align: center;padding: 20px 0px 0px 0px;">
      <p style="font-size: 40px; margin: 0 0 0 0">
        What We Do?
      </p>
      <p style="color:#4BA019; padding-bottom:5px; text-align:justify; margin:0 3em 0 3em">
        We have combined knowledge, passion and technology to drive innovation and set new benchmarks for excellence. We want to be the extra 10% percent that will make your trips from great to memorable.
      </p>
    </div>
    <div flex align='center' style="padding: 40px 0px 20px 0px">
      <md-button class="how-it-works-share-button" style="height:3.3em; width:12em; float:center" ng-click="$state.go('how-it-works')">
        Learn More
        <i class="fa fa-arrow-right" style="padding-left:1em;" aria-hidden="true"></i>
      </md-button>
    </div>
  </div>
  <div flex='40' hide-sm hide-xs>
    <img src='images/greenhappycar.jpg' style="width:100%;height:60vh"/>
  </div>
</div> -->
