<div layout="column" style="overflow:hidden;" >
  <div class='v-align-wrap' layout="column" layout-padding layout-align="center center">
    <h2 style="margin: 0 0 0 0;font-size:1.2em;font-weight:700;" >
      Why ride with us?
    </h2>
  </div>
  <div layout-gt-sm="row" layout="column" style="background-color:#ffffff;">
    <div layout="row" flex-gt-sm="50" layout-xs="column" style="min-height:300px;">
      <div flex-gt-xs="50" class='box-grow anim-card' style="background-color:#ffffff;height:300px;">
        <span class="anim-logo">
          <img width="150" height="150" src="images/simple.png" />
          <h4 style="color:#000000;font-size:24px;padding:20px;font-weight:700;">
            Simple
          </h4>
        </span>
        <span class="anim-text">
          <p class="theme-text" style="padding:16px;text-align:justify">
            Rent a car in 3 clicks. Search, select and book. No more paperwork or photocopies of license. Upload once and relax.
          </p>
        </span>
      </div>
      <div flex-gt-xs="50" class='box-grow anim-card' style="background-color:#ffffff;height:300px;">
        <span class="anim-logo">
          <img width="150" height="150" src="images/cheaper.svg"/>
          <h4 style="color:#000000;font-size:24px;padding:20px;font-weight:700;">
            Cheaper Rides
          </h4>
        </span>
        <span class="anim-text">
          <p class="theme-text" style="padding:16px;text-align:justify">
            Starting from &#8377 2000 per day, cost of renting a car has become less than owning a car.
          </p>
        </span>
      </div>
    </div>
    <div layout="row" flex-gt-sm="50" layout-xs="column" style="min-height:300px;">
      <div flex-gt-xs="50" class='box-grow anim-card' style="background:#ffffff;height:300px;">
        <span class="anim-logo">
          <img width="150" height="150" src="images/unlimited.png"/>
          <h4 style="color:#000000;padding:20px;font-size:24px;font-weight:700;">
            Unlimited Choices
          </h4>
        </span>
        <span class="anim-text">
          <p class="theme-text" style="padding:16px;text-align:justify">
            Hundreds of cars to choose from. Why drive the same car again?
          </p>
        </span>
      </div>
      <div flex-gt-xs="50" class='box-grow anim-card' style="background-color:#ffffff;height:300px;">
        <span class="anim-logo">
          <img width="150" height="150" src="images/community.png"/>
          <h4 style="color:#000000;padding:20px;font-size:24px;font-weight:700;">
            Community Driven
          </h4>
        </span>
        <span class="anim-text">
          <p class="theme-text" style="padding:16px;text-align:justify">
            Rent cars from people like you. Every car listed on goryd is owned by local owners. With every car you rent, you make a new friend.
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- <md-divider md-insert class="divider" style="margin:0 0 0 0"></md-divider>
<div layout="column" layout-align="center center" style="background-color:#1F3FFF">
  <p style="margin:3em 4em 1em 4em; font-size:1.5em; color:#ffffff">
    <q>What makes Goryd experience great is the people listing their cars. They are awesome people like us who are sharing their cars with you so that you can have a memorable trip. We take pride in calling them our partners and we treat them with same values as we treat our guests.</q>
  </p>
  <md-button class="whyus-learn-button" style="height:3.3em; width:12em; float:center; margin: 0 0 3em 0" ng-click="$state.go('listnow')">
    Learn More
    <i class="fa fa-arrow-right" style="padding-left:1em;" aria-hidden="true"></i>
  </md-button>
</div> -->
