<div layout="column" layout-align="center center" class="how-it-works" layout-fill style="position:relative;height:80vh;">
  <div flex>
    <p style="color:white; margin: 0 0 0 0; font-size:60px; margin:19% 0 0 0">How Goryd works</p>
  </div>
</div>

<div layout="column" style="margin-top:4em; margin-bottom:3em;">
  <div layout="row">
    <div flex-gt-sm="25"></div>
    <div flex>
      <p style="size:10em" >
        We value our partners as much as our customers because it's not only about renting a car it's about renting a beautiful experience.
      </p>

    </div>
    <div flex-gt-sm="25"></div>
  </div>
  <div flex>
    <p class="theme-text">
      Our process of sharing is as simple as the process of renting
    </p>
  </div>
  <div flex layout="row">
    <div flex-gt-sm="30"></div>
    <div flex>
      <md-button class="how-it-works-rent-button" ng-click="$state.go('home')">Rent a car</md-button>
      <md-button class="how-it-works-share-button" style="height:3.3em; width:12em; float:center" ng-click="$state.go('listnow')">Share a car</md-button>
    </div>
    <div flex-gt-sm="30"></div>
  </div>
</div>

<md-divider class="divider" md-insert></md-divider>

<div layout="row" layout-align="center none" layout-xs="column" layout-align-xs="center center" class="how-it-works-route" style="margin-top:0em;margin-bottom:25em">
  <div flex flex-sm flex-xs style="background-color:white;">
    <div layout="column" layout-align="center end" layout-align-xs="center center">
      <h3 flex style="color:#000000; opacity:0.7" class="renter-owner" hide-xs>Our Renter's Journey</h3>
      <h3 flex style="color:#236B8E;text-align:left" hide-gt-xs class="renter-owner">For Renters</h3>
      <div class="instruction-box1" flex layout="row">
        <div flex="100">
          <p style="font-size:20px; text-align:right; margin:0 0 0 0">
            Sign up
          </p>
          <p class="theme-text" style="text-align:right; font-size:15px; margin:0 0 0 0">
            Signing up for Goryd account takes less time than finishing a beer
          </p>
        </div>
        <div flex  hide-xs>
          <div class="eventmarker"></div>
        </div>
      </div>
      <div class="instruction-box1" flex layout="row">
        <div flex="100">
          <p style="font-size:20px; text-align:right; margin:0 0 0 0">
            Become a verified renter
          </p>
          <p class="theme-text" style="text-align:right; font-size:15px; margin:0 0 0 0">
            Upload your driving license and identify proof to get verified
          </p>
        </div>
        <div flex  hide-xs>
          <div class="eventmarker"></div>
        </div>
      </div>
      <div class="instruction-box1" flex layout="row">
        <div flex="100">
          <p style="font-size:20px; text-align:right; margin:0 0 0 0">
            Find your dream car
          </p>
          <p class="theme-text" style="text-align:right; font-size:15px; margin:0 0 0 0">
            Search your favorite car from Goryd collection and send booking request for it
          </p>
        </div>
        <div flex  hide-xs>
          <div class="eventmarker"></div>
        </div>
      </div>
      <div class="instruction-box1" flex layout="row">
        <div flex="100">
          <p style="font-size:20px; text-align:right; margin:0 0 0 0">
            Get ready
          </p>
          <p class="theme-text" style="text-align:right; font-size:15px; margin:0 0 0 0">
            Once car owner approves your request, get ready to pick your car
          </p>
        </div>
        <div flex  hide-xs>
          <div class="eventmarker"></div>
        </div>
      </div>
      <div class="instruction-box1" flex layout="row">
        <div flex="100">
          <p style="font-size:20px; text-align:right; margin:0 0 0 0">
            Time to leave
          </p>
          <p class="theme-text" style="text-align:right; font-size:15px; margin:0 0 0 0">
            Collect your car keys from the owner and drive your dream car
          </p>
        </div>
        <div flex  hide-xs>
          <div class="eventmarker"></div>
        </div>
      </div>
      <div class="instruction-box1" flex layout="row">
        <div flex="100">
          <p style="font-size:20px; text-align:right; margin:0 0 0 0">
            Return the car safely
          </p>
          <p class="theme-text" style="text-align:right; font-size:15px; margin:0 0 0 0">
            Return the car to the owner and add one more person in your friendlist
          </p>
        </div>
        <div flex  hide-xs>
          <div class="eventmarker"></div>
        </div>
      </div>
      <div class="instruction-box1" flex layout="row">
        <div flex="100">
          <p style="font-size:20px; text-align:right; margin:0 0 0 0">
            Rate your experience
          </p>
          <p class="theme-text" style="text-align:right; font-size:15px; margin:0 0 0 0">
            Tell others about your awesome journey by rating the car so that others can feel the same too
          </p>
        </div>
        <div flex  hide-xs>
          <div class="eventmarker"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- image div -->
  <div flex="20" hide-xs>
    <div layout="column" layout-align="center center">
      <img class="" style="display:block; border:0; width:7em; padding:10px 10px 0px 10px; position:relative; top:-4.7em" src="images/road.png" alt="" height="955em"/>
    </div>
  </div>
  <!-- car owners div begins -->

  <div flex flex-sm flex-xs>
    <div layout="column" layout-align="center start" layout-align-xs="center center">
      <h3 flex style="color:#236B8E" class="renter-owner">Our Partner's Journey</h3>
      <div class="instruction-box2" flex layout="row">
          <div hide-xs flex="0">
            <div class="eventmarker2"></div>
          </div>
          <div flex="100">
            <p style="font-size:20px; text-align:left; margin:0 0 0 0">
              Register your car
            </p>
            <p class="theme-text" style="text-align:left; font-size:15px; margin:0 0 0 0; color:#236B8E">
              Login into your account and list your car in four easy steps. No paper work required
            </p>
          </div>
      </div>
      <div class="instruction-box2" flex layout="row">
          <div  hide-xs flex="0">
            <div class="eventmarker2"></div>
          </div>
          <div flex="100">
            <p style="font-size:20px; text-align:left; margin:0 0 0 0">
              Sit back
            </p>
            <p class="theme-text" style="text-align:left; font-size:15px; margin:0 0 0 0; color:#236B8E">
              Until we verify your car details, sit back and get ready to become a member of Goryd community
            </p>
          </div>
      </div>
      <div class="instruction-box2" flex layout="row">
          <div  hide-xs flex="0">
            <div class="eventmarker2"></div>
          </div>
          <div flex="100">
            <p style="font-size:20px; text-align:left; margin:0 0 0 0">
              Start earning
            </p>
            <p class="theme-text" style="text-align:left; font-size:15px; margin:0 0 0 0; color:#236B8E">
              Get excited to review renter's profile and approve the booking request
            </p>
          </div>
      </div>
      <div class="instruction-box2" flex layout="row">
          <div  hide-xs flex="0">
            <div class="eventmarker2"></div>
          </div>
          <div flex="100">
            <p style="font-size:20px; text-align:left; margin:0 0 0 0">
              Meet the renter
            </p>
            <p class="theme-text" style="text-align:left; font-size:15px; margin:0 0 0 0; color:#236B8E">
              Get surprised to see how faithful and respectful renters are
            </p>
          </div>
      </div>
      <div class="instruction-box2" flex layout="row">
          <div  hide-xs flex="0">
            <div class="eventmarker2"></div>
          </div>
          <div flex="100">
            <p style="font-size:20px; text-align:left; margin:0 0 0 0">
              Track your car
            </p>
            <p class="theme-text" style="text-align:left; font-size:15px; margin:0 0 0 0; color:#236B8E">
              With our GPS enabled technology, track your car all the time
            </p>
          </div>
      </div>
      <div class="instruction-box2" flex layout="row">
          <div  hide-xs flex="0">
            <div class="eventmarker2"></div>
          </div>
          <div flex="100">
            <p style="font-size:20px; text-align:left; margin:0 0 0 0">
              Back home
            </p>
            <p class="theme-text" style="text-align:left; font-size:15px; margin:0 0 0 0; color:#236B8E">
              Get your car back home safely and add one more person in your friendlist
            </p>
          </div>
      </div>
      <div class="instruction-box2" flex layout="row">
          <div  hide-xs flex="0">
            <div class="eventmarker2"></div>
          </div>
          <div flex="100">
            <p style="font-size:20px; text-align:left; margin:0 0 0 0">
              Rate your friend
            </p>
            <p class="theme-text" style="text-align:left; font-size:15px; margin:0 0 0 0; color:#236B8E">
              Rate your friend so that he can have more awesome journeys in future
            </p>
          </div>
      </div>
    </div>
  </div>
</div>

<md-divider class="divider" md-inset></md-divider>

<div layout="column" style="padding:3em 0 3em 0; background-color:#FFFFFF" layout-align="none center" ng-show="logged==false">
  <h3 style="text-align:center; color:#000000; opacity:0.7">
    Let's begin your journey<br />
  </h3>
  <h3 style="text-align:center; color:#000000; opacity:0.7">
    Become a part of an exciting community
  </h3>
  <md-button class="how-it-works-signup-button" ng-click="registration()">Sign up now</md-button>
</div>

<div layout="column" style="padding:3em 0 3em 0; background-color:#FAFAFF" layout-align="none center" ng-if="logged==true">
  <h3 style="text-align:center; color:#000000; opacity:0.7">
    Let's begin your journey<br />
  </h3>
  <h3 style="text-align:center; color:#000000; opacity:0.7">
    Share a car and unveil numerous benefits
  </h3>
  <md-button class="how-it-works-share-button" style="width:12em; font-size:1.4em; height:2.8em;" ng-click="$state.go('listnow')">Share your car</md-button>
</div>
