<md-dialog aria-label="Forgot Password OTP" ng-cloak ng-controller='main'>
    <md-toolbar>
      <div class="md-toolbar-tools" style='background-color:#4378F8'>
        <h2>Account Validation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="margin:auto;margin-top:30px">
      <p ng-show="!showPasswordField && !showOTPField">
        Enter your phone number to receive OTP
      </p>
      <p ng-show="showOTPField && !showPasswordField">
        Enter OTP sent to your phone
      </p>
      <p ng-show="showOTPField && showPasswordField">
        Enter your new password
      </p>
    </md-dialog-content>
    <form name="mobilenum">
    <md-dialog-content ng-show="showMobile" enter-press="sendMobileno(mobilenum.mobile)">
      <div class="md-dialog-content" layout="row">
        <span flex="10"></span>
        <md-input-container md-no-float flex style="height:40px"class="md-block">
              <label>Mobile No.</label>
              <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
              <input ng-model="mobilenum.mobile"ng-pattern="/^[0-9]{10,10}$/"required type="text">
          </md-input-container>
          <md-button class="md-raised md-primary"style="position:relative;top:5px;height:40px"ng-disabled="mobilenum.$invalid" flex="20" href="" target="" ng-click="sendMobileno(mobilenum.mobile);">
            Submit
          </md-button>
          <span flex="10"></span>
        </div>
    </md-dialog-content>
  </form>
    <form name="forgotPasswordForm">
    <md-dialog-content ng-show="showOTPfp" enter-press="validateOTPfp(OTP)">
      <div class="md-dialog-content" layout="row">
        <span flex="10"></span>
        <div flex class="" layout="column">
          <md-input-container flex="30" style="height:40px"class="md-block">
            <md-icon md-svg-src="images/dialpad.svg"></md-icon>
            <label>OTP</label>
            <input ng-model="OTP" name="OTP" ng-model="OTP"required ng-pattern="/^[0-9]{1,6}$/" type="text">
          </md-input-container>
          <div flex style="font-size:10px;margin-left:40px;cursor:inherit;"><a style="color:black" ng-click = 'resendOTPfp()'>Resend OTP</a></div>
      </div>
        <md-button class="md-raised md-primary"style="position:relative;top:5px;height:40px" href="" flex="20"style="height:40px"ng-disabled="forgotPasswordForm.$invalid" ng-click="validateOTPfp(OTP);"target="">
         Submit
        </md-button>
      <span flex="10"></span>
      </div>
    </md-dialog-content>
    <md-dialog-content ng-show="showPasswordField" enter-press='resetPw(password)'>
      <div class="md-dialog-content" layout="row">
        <span flex="10"></span>
        <md-input-container flex style="height:40px"class="md-block">
          <label>New Password</label>
          <md-icon md-svg-src="images/ic_lock_black_24px.svg"></md-icon>
          <input ng-model="password" type="password">
        </md-input-container>
        <md-button class="md-raised md-primary"style="position:relative;top:5px;height:40px" ng-click='resetPw(password)' href="" flex="20"style="height:40px" target="">
         Submit
        </md-button>
        <span flex="10"></span>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
