<div ng-show="loadingIcon" class=" loading-spinner text-center" style="position:fixed;top:-56px;height:100vh;left:0px;z-index:100000;background:transparent;">
  <div class="loader" layout="row" style="height:100%;overflow:hidden;" layout-align="center center">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"stroke-miterlimit="10"/>
    </svg>
    <p style="font-size:15px;color:#0433BC">Loading</p>
  </div>
</div>
<div style="z-index:200">
  <md-dialog aria-label="Lisiting Review" ng-hide="loadingIcon" flex="nogrow"  style="width:80em;min-height:35em;margin:auto;margin-top:5em">
      <form ng-if="pagelevel=='notsent'"  layout-fill >
          <md-toolbar>
              <div class="md-toolbar-tools">
                  <h2>{{listing.maker}} {{listing.model}}</h2>
                  <div flex layout="row" style="margin-left:20px;" layout-align="start center">
                    <jk-rating-stars id="rateCar" max-rating="5" rating="listing.rating" read-only="true" class='star-rating'>
                    </jk-rating-stars>
                    <span class="rating-float-nu">({{listing.rating}})</span>
                  </div>
                  <md-button class="md-raised md-default" ng-click="sendBookingRequest()">
                      Book this car
                  </md-button>
                  <md-button class="md-icon-button" ng-click="cancel()">
                      <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                  </md-button>
              </div>
          </md-toolbar>
          <md-dialog-content >
              <md-tabs md-dynamic-height md-border-bottom>
                  <md-tab label="Basic Car Info">
                      <md-content class="md-padding"style="height:365px;">
                          <div layout="row" class='listingBorder'>
                              <div flex="30">
                                  Total hours:
                                  <br/>
                                  <br/>
                              </div>
                              <div flex>
                                  {{diffTime}}
                                  <br/>
                              </div>
                          </div>
                          <div layout="row" class='listingBorder'>
                              <div flex="30">
                                  Total Rent:
                                  <br/>
                                  <br/>
                              </div>
                              <div flex>
                                  <i class="fa fa-inr" aria-hidden="true"></i> {{listing.totalCost}}
                                  <br/>
                              </div>
                          </div>
                          <div layout="row" class='listingBorder'>
                              <div flex="30">
                                  Security Deposit:
                                  <br/>
                                  <br/>
                              </div>
                              <div flex>
                                  <i class="fa fa-inr" aria-hidden="true"></i> {{listing.deposit}}
                                  <br/>
                              </div>
                          </div>
                          <div layout="row" class='listingBorder' style="border-bottom:none;height:auto">
                              <div flex="30">
                                  Pick up location:
                                  <br/>

                              </div>
                              <div flex>
                                  {{listing['address']['street']}}, {{listing['address']['city']}},
                                  {{listing['address']['pincode']}}
                                  <br/>
                              </div>
                          </div>
                          <div layout="row" style="border-bottom:1px solid rgba(158, 158, 158, 0.65)">
                            <span style="font-size:12px;color:#375cb6">The exact pickup location will be conveyed to you later</span>
                          </div>
                          <div layout="row" class='listingBorder'>
                              <div flex="30">
                                  Owner Name:
                                  <br/>
                                  <br/>
                              </div>
                              <div flex>
                                  {{listing.owner.first_name}} {{listing.owner.last_name}}
                                  <br/>
                              </div>
                          </div>
                          <div ng-init="showDetails=false"ng-click="showDetails= (showDetails==false)?true:false" style="color:#375cb6;text-align:center">
                            <span ng-if="showDetails==false">+ More details</span>
                            <span ng-if="showDetails==true">Hide Details</span>
                          </div>
                          <div layout="row" ng-show="showDetails"class='listingBorder'>
                              <div flex="30">
                                  Car Rating:
                                  <br/>
                                  <br/>
                              </div>
                              <div flex>
                                  {{listing.rating}}
                              </div>
                          </div>
                          <div layout="row" ng-show="showDetails"class='listingBorder'>
                              <div flex="30">
                                  Weekday Price:
                                  <br/>
                                  <br/>
                              </div>
                              <div flex>
                                  <i class="fa fa-inr" aria-hidden="true"></i> {{listing.weekdayPrice}}/day
                                  <br/>
                              </div>
                          </div>
                          <div layout="row" ng-show="showDetails" class='listingBorder'>
                                  <div flex="30">
                                      Weekend Price:
                                      <br/>
                                      <br/>
                                  </div>
                                  <div flex>
                                      <i class="fa fa-inr" aria-hidden="true"></i> {{listing.weekendPrice}}/day
                                      <br/>
                                  </div>
                        </div>
                          <div layout="row" ng-show="showDetails" class='listingBorder'>
                              <div flex="30">
                                  Year:
                                  <br/>
                              </div>
                              <div flex>
                                  {{listing['year']}}
                                  <br/><br/>
                              </div>
                          </div>
                          <div layout="row" ng-show="showDetails" class='listingBorder'>
                              <div flex="30">
                                  Odometer reading:<br/>
                                  <br/>
                              </div>
                              <div flex>
                                  {{listing['kms']}} km<br/>
                                  <br/>
                              </div>
                          </div>
                          <div layout="row" ng-show="showDetails" class='listingBorder'>
                              <div flex="30">
                                  Transmission Type:<br/>
                              </div>
                              <div flex>
                                  {{listing.gearType}}<br/>
                                  <br/>
                              </div>
                          </div>
                      </md-content>
                  </md-tab>
                  <md-tab label="Car Reviews">
                      <md-content class="md-padding" style="height:365px;overflow:scroll;overflow-x:hidden;">
                        <div layout="row" layout-align="center center" ng-if="!listing.reviews.length==0">
                          <div style='border-left:1px solid #eee;border-right:1px solid #eee'>
                            <md-list-item ng-repeat="i in listing.reviews" style="background-color:#ffffff;color:#000000;height:6em;width:100%">
                              <div layout="row" layout-align="center center" style="width:100%">
                                <div flex="10" style="">
                                  <img class="" style="width:50px;height:50px;border-radius:50%;" ng-src="{{i.reviewer.dp | mediaAsset}}"/>
                                </div>
                                <div flex="20" layout="column" layout-align="center start" style="padding-top:5px;margin-left:30px;">
                                  <h3 style="margin:0px 0px 0px 0px;text-transform:capitalize;text-align:left">
                                    {{i.reviewer.first_name}}
                                    {{i.reviewer.last_name}}
                                  </h3>
                                  <p style="margin:0 0 0 0;" ng-init="rates=reviewerrating()">
                                    <jk-rating-stars id="rate4" max-rating="5" rating="i.rating" read-only="true" class='star-rating'></jk-rating-stars>
                                  </p>
                                </div>
                                <div flex="" style="">
                                  <p style="font-size:14px;padding-top:5px;text-align:left">
                                    {{i.text}}
                                  </p>
                                </div>
                              </div>
                              <md-divider></md-divider>
                            </md-list-item>
                          </div>
                        </div>
                        <div flex-offset-gt-sm="5"  ng-if="listing.reviews.length==0" style="height:100%;overflow:hidden;">
                          <div layout="row" layout-align="center center" style="height:100%;margin-top:0px;">
                            <div style='margin:auto;'>
                                <h4 style="font-size:2.5em;color:#757575;opacity:0.7;">
                                  No Reviews
                                </h4>
                            </div>
                          </div>
                        </div>
                      </md-content>
                  </md-tab>
                  <md-tab label="Car Photos">
                      <div  layout="row" layout-padding layout-align="start start" layout-wrap class="md-whiteframe-3dp" style="overflow:scroll;height:365px;" ng-hide="zoomimgTab">
                          <div ng-repeat="w in [0]"  layout="row" layout-wrap>
                                <div ng-repeat="i in a"  layout="row">
                                      <md-card class="listingPage-carImg" style="margin:10px;padding:0;" ng-click="zoomImg($index)">
                                        <img style="display:block; border:0; width:200px; height:200px;" ng-src="{{listing.media[w*3 + i].attachment | mediaAssetcar}}"></img>
                                      </md-card>
                                </div>
                            </div>
                        </div>
                        <md-card ng-hide="!zoomimgTab" class="listingPage-carImg" style="background-color:#333;width:100%;height:410px;overflow:hidden; " layout="row" layout-align="center center">
                            <div layout="column" flex="10" class="map-card-arrow-sm" style="color:white;font-size;30px;" layout-align="center center">
                                <i  class="fa fa-chevron-left" ng-click="prevZoomImg()" aria-hidden="true" ></i>
                            </div>
                            <div layout="column" flex="80" class="" layout-align="center center">
                                <md-card class="listingPage-carImg" style="margin:5px">
                                    <img style="display:block; border:0; max-width:800px;max-height:390px; " ng-src="{{listing.media[i].attachment | mediaAssetcar}}"></img>
                                </md-card>
                            </div>
                              <div layout="column" flex="10"  style="height:100%;" >
                                <div layout="column"  class="map-card-arrow-sm"  style="color:white;font-size;30px;height:50%" layout-align="start center">
                                    <md-button ng-click="zoomImg($index)"><i class="fa fa-times" aria-hidden="true" style="font-size:30px;" ></i>
                                    </md-button>
                                </div>
                                <div layout="column" layout-align="center center" class="map-card-arrow-sm" >
                                    <i class="fa fa-chevron-right" ng-click="nextZoomImg()"  style="color:white;font-size:24px;position:relative;top:-15px;" aria-hidden="true" ></i>
                                </div>
                            </div>
                        </md-card>
                  </md-tab>
              </md-tabs>
          </md-dialog-content>
      </form>
      <md-dialog-content ng-if="pagelevel=='thankyou'">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>More Details</h2>
            <span flex></span>
            <md-button class="md-raised md-default" ng-click="viewBooking()">
              View my Bookings
            </md-button>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
          <md-tabs   md-dynamic-height md-border-bottom>
              <md-tab label="Thanks" >
                  <md-content class="md-padding">
                      <div layout="row" class='listingBorder'>
                          <p>
                            Thanks for Booking. <br />
                            Your Booking id is : {{bookingid}}
                          </p>
                        </div>
                  </md-content>
              </md-tab>
          </md-tabs>
      </md-dialog-content>
  </md-dialog>
</div>
