<div layout="row" style="padding:100px">
    <div layout="column" flex-offset="10" flex="80" flex-offset-sm="5" flex-offset-xs="0" flex-sm="90" flex-xs="100" style="text-align:left;">
        <div layout="row" layout-align-xs="center center">
            <h2 style="text-align:left; text-transform:none">Goryd Owner Policies and Procedures</h2>
        </div>
        <p style="font-size:15px;">
            <div layout="row" layout-align-xs="center center">
                <h3 style="text-align:left; text-transform:none">Maintenance</h3>
            </div>
            <ul style='text-align:justify;'>
                <li type='1'>
                    The Owner is responsible for obtaining regularly scheduled maintenance for the Car in accordance with all government and manufacturer recommendations ('Maintenance'). The Service may make certain assumptions about your Maintenance requirements based
                    on information you provide about the Car. Upon request by Goryd, the Owner is responsible for providing proof of Maintenance to Goryd, in the form of acceptable documentation signed by the Car's mechanic, or if available, a proof of maintenance
                    feature on the Service. Should the Owner fail to do this, Goryd may suspend the Car from the Service until acceptable proof of Maintenance is received.
                </li>
                <li type='1'>
                    The Owner is responsible for maintaining the Car in a way that is safely operable by any Renter. The Owner may not place in the Car any modifications, devices, equipment or other items that may interfere with the safe operation of the vehicle.
                </li>
                <li type='1'>
                    The Owner is responsible for making sure that the Car is clean at the start of each Rental period.
                </li>
            </ul>
        </p>
        <p style="font-size:15px;">
            <div layout="row" layout-align-xs="center center">
                <h3 style="text-align:left; text-transform:none">Care of Car and Rental Procedures</h3>
            </div>
            <ul style='text-align:justify;'>
                <li type='1'>
                    For every Rental of your Car, Goryd will charge a fixed commission as outlined in the Fee and Commission Schedule
                </li>
                <li type='1'>
                    Goryd will pay the Car Owner for Rentals as stated in the Terms of Service Payment section.
                </li>
                <li type='1'>
                    The Owner is responsible for keeping the fuel tank above 1/4 full at all times when the Car is available for Rentals. The fuel tank must be at/or above 1/4 full at the start of each Rental period.
                </li>
                <li type='1'>
                    If the Owner approves a Rental to begin at a specified time, it is the Owner's responsibility to make the Car available to the Renter at that time and in the agreed-upon location to avoid a fee as outlined in the Fee and Commission Schedule
                </li>
                <li type='1'>
                    Cancelling a Rental during the specified time your Car is available will result in a fee as outlined by the Fee and Commission Schedule
                </li>
                <li type='1'>
                    Upon return of the Car after each Rental, the Owner is given the option to submit photographs of any new damage as permitted by the Service. The Owner may be held liable for any damage the Owner fails to document before driving the Car.
                </li>
                <li type='1'>
                    The Owner must provide documentation of Ownership and a valid copy of the Car's registration in the glove compartment of the Car at all times in order to be listed on Goryd.
                </li>
                <li type='1'>
                    The Owner is required to keep in the glove compartment of the Car at all times any proof of insurance mandated by Goryd. In the event of an accident, Goryd may also choose to require that Owners access insurance policy information electronically and
                    email a copy of this information to the other parties involved. The current procedures for insurance documentation are detailed in the Goryd Member Handbook.
                </li>
            </ul>
        </p>
        <p style="font-size:15px;">
            <div layout="row" layout-align-xs="center center">
                <h3 style="text-align:left; text-transform:none">Claims for Loss or Damage</h3>
            </div>
            <ul style='text-align:justify;'>
                <li type='1'>
                    If a Car is damaged during a Rental, it is the responsibility of the Renter to gather relevant information and submit an insurance claim.
                </li>
                <li type='1'>
                    The Owner's Car is covered by Goryd's insurance policy solely during the official Rental period as outlined under Goryd's Insurance Statement
                </li>
                <li type='1'>
                    It is the responsibility of the Renter to have the Car assessed for damage within 4 days of a reported incident. The Owner must make the Car reasonably available during this time. The Renter will schedule the assessment for a time mutually agreeable
                    to the Renter and the Owner. The Renter does not need to pay the Owner for the period of time the car is being assessed, though if the Renter is found to have been negligent and/or responsible for the incident, the Renter may owe the Owner an
                    'inconvenience fee' as stated in the Goryd Fee and Commission Schedule The Renter must submit proper documentation of damage assessment as required by Goryd and any relevant insurance companies. Upon mutual written agreement by the Renter and the
                    Owner, the Owner can choose to assume responsibility for having the Car damage assessed. In this case, the Owner must abide by all rules and policies regarding insurance claims, which would otherwise apply to the Renter.
                </li>
                <li type='1'>
                    If the Owner suspects damage or loss was caused by a Goryd Renter and the Owner cannot identify which Renter caused the damage or loss, the Owner may initiate an insurance claim. In this case, the Owner will abide by the same Insurance Claims process
                    that applies to Renters, as stated in the Renter Policies and Procedures Prior to submitting such a claim, the Owner must notify Goryd of the nature of the claim and allow time for damage or loss assessment, dispute arbitration, or remediation at
                    Goryd's discretion. Should this process not result in a satisfactory outcome, the Owner may at that point submit a properly documented claim for insurance review.
                </li>
                <li type='1'>
                    The Owner is solely responsible for all traffic violations, tolls, towing charges, damage, and other fines, obligations, and losses incurred in relation to the Car (a) other than during a Rental, or (b) arising from Owner's breach of the Terms of
                    Service Agreement, including, without limitation, these Owner Policies and Procedures.
                </li>
            </ul>
        </p>
    </div>
</div>
