<div style="padding:100px 180px 0 180px; min-height:150vh;">
  <h2 style="font-family:Roboto;text-transform:none;">Payment Terms</h2>
  <h3 style="font-family:Roboto;text-transform:none;text-align:left">Cancellation policy</h3>
  <p style="font-family:Roboto;text-align:justify;font-size:15px">
    Cancelling a goryd car is as easy as booking it. In case you change your plans, our simple cancellation process will help you get your money back.
  </p>
  <div align="center">
    <table style="min-width:100%">
      <tr style="padding-bottom:3px; text-align:justify;">
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px; font-weight:bold">
            Cancellation time
          </p>
        </td>
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px; font-weight:bold">
            Cancellation charges
          </p>
        </td>
      </tr>
      <tr style="padding-bottom:3px; text-align:justify;">
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px">
            After pickup time
          </p>
        </td>
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px">
            100% of the total rent
          </p>
        </td>
      </tr>
      <tr style="padding-bottom:3px; text-align:justify;">
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px">
            Within 12 hours before the trip begins
          </p>
        </td>
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px">
            50% of the total rent
          </p>
        </td>
      </tr>
      <tr style="padding-bottom:3px; text-align:justify;">
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px">
            Before 12 hours before the trip begins
          </p>
        </td>
        <td style="padding-right:3px;padding-left:3px">
          <p style="font-family:Roboto; text-align:justify; font-size:15px">
            null
          </p>
        </td>
      </tr>
    </table>
  </div>
  <p style="font-family:Roboto; font-weight:bold; text-align:left; font-size:18px">
    How to cancel
  </p>
  <p style="font-family:Roboto; text-align:justify; font-size:15px">
    To cancel your booking, go to upcoming bookings under my bookings section, You acn also call us at +91-9833570048 to cancel your booking.
  </p>
  <md-divider style="margin:3em auto 3em auto;"></md-divider>
  <h3 style="font-family:Roboto;text-transform:none;text-align:left">Late car delivery</h3>
  <p style="font-family:Roboto; text-align:justify; font-size:15px">
    We are driven by a community of people who believe in car sharing. And to maintain a trust among the people, we make sure that everything is being done on time. Everyone loves being on time, but due to unexpected reasons, you may be late while delivering the car. We have taken care of that as well. So we give addiitional one hour as a complementary. After that the following late charges will be levied.
  </p>
  <table></table>
</div>
