<div class="" ng-cloak style="margin-top:64px;background-color:#8FB7EE;height:100vh" ng-controller="payment">
    <div class="" style="height:20px;">

    </div>
    <md-card style="width:70%;max-width:700px;margin:0 auto;margin-bottom:20px;text-transform:capitalize">
      <h3 style="text-transform:none;text-transform:uppercase;font-weight:900;color:#fff;background-color:#02394A;padding:10px;">Payment details</h3>
        <md-list style="position:relative;top:-10px">
            <md-list-item layout="row" style="background-color:#4E2393;color:#fff;position:relative;top:-10px">
                <div flex="50" style="text-align:center;text-transform:uppercase;font-size:17px">
                    Details
                </div>
                <div flex style="text-align:center;text-transform:uppercase;font-size:17px">
                    Amount
                </div>

            </md-list-item>
            <md-list-item layout="row">
                <div flex="50">Security Deposit</div>
                <div flex="50"><i class="fa fa-inr" aria-hidden="true"></i> {{booking.deposit}}</div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item layout="row">
                <div flex="50">rent</div>
                <div flex="50"><i class="fa fa-inr" aria-hidden="true"></i> {{booking.totalCost}}</div>

            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-if='taxesApplicable'>
                <div flex="50">Taxes</div>
                <div flex="50"><i class="fa fa-inr" aria-hidden="true"></i> {{tax}}</div>

            </md-list-item>
            <md-divider ng-if='taxesApplicable'></md-divider>
            <md-list-item layout="row">
                <div flex="50">Total</div>
                <div flex="50"><i class="fa fa-inr" aria-hidden="true"></i> {{totalPayment}}</div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <h4 style="text-transform:none;"><span>Total amount to be paid is <i class="fa fa-inr" aria-hidden="true"></i> {{totalPayment}}</span></h4>
        <md-divider></md-divider>
        <div style="background-color:#7A5C61;color:#fff">
          <h5 style="margin-top:10px">Terms and Conditions</h5>
            <p style="font-size:10px;margin-bottom:0px">* The amount paid for the security deposit will be refunded after your trip is complete</p>
            <p style="font-size:10px">* The amount paid for the security deposit will be refunded after your trip is complete</p>
          </div>

    </md-card>
        <div class="" style="margin:auto;margin-bottom:100px;margin-top:40px"id="paymentPage">
        <h3 style="text-transform:none;">Select your payment method</h3>
        <md-radio-group ng-model="paymentOption"hide-gt-sm layout="column" style="position:relative;margin:auto;margin-bottom:40px;width:40%;">
          <md-radio-button value="cod" flex>Cash on Delivery</md-radio-button>
          <!-- <md-radio-button value="creditCard" flex>Credit Card</md-radio-button>
          <md-radio-button value="debitCard" flex>Debit Card</md-radio-button>
           <md-radio-button value="netBanking" flex>Net Banking</md-radio-button> -->
        </md-radio-group>


        <md-divider style="margin-top:30px"></md-divider>
        <ul id="paymentMethods"ng-init="paymentOption='cod'" style="" hide-xs hide-sm >
          <li ng-click="paymentOption='cod'"ng-class="{highlight:paymentOption=='cod'}" style="border-top: 1px solid #fff;color:#fff;background-color:#1b3c85;padding:10px">Cash on Delivery</li>
          <!-- <li ng-click="paymentOption='creditCard'"ng-class="{highlight:paymentOption=='creditCard'}" style="border-top: 1px solid #fff;color:#fff;background-color:#607d8b;padding:10px">Credit Card</li>
          <li ng-click="paymentOption='debitCard'"ng-class="{highlight:paymentOption=='debitCard'}"style="border-top: 1px solid #fff;color:#fff;background-color:#607d8b;padding:10px">Debit Card</li>
          <li ng-click="paymentOption='netBanking'"ng-class="{highlight:paymentOption=='netBanking'}"style="border-top: 1px solid #fff;color:#fff;background-color:#607d8b;padding:10px;border-bottom:1px solid #fff">Net Banking</li> -->
        </ul>
        <div ng-show="paymentOption=='cod'" style="margin:auto;float:left">
            <p style="text-align:left;margin-left:38px">Please pay while collecting the car.</p>
        </div>
        <div ng-show="paymentOption=='creditCard'" style="margin:auto;float:left">
            <p style="text-align:left;margin-left:38px">Enter your Debit Card details</p>
            <ul style="clear:both;margin:auto">
                <li style="display:block;float:left">
                    <label style="display:block;text-align:left;text-transform:uppercase">Credit Card Number</label>
                    <p style="display:block">
                        <input type="text" ng-pattern="/^[0-9]{16,16}$/" max-length="19" style="width:100%;max-width:250px;height:35px">
                    </p>
                </li>
                <li style="display:block;float:left;clear:both">
                    <label style="display:block;text-align:left;text-transform:uppercase">Expiry Date</label>
                    <p>
                        <select style="width:80px;font-size:15px;height:35px">
                            <option value='0'>MM</option>
                            <option ng-repeat="i in getNumber(number) track by $index" value="{{$index}}" ng-hide="{{$index}}==0">{{$index}}</option>
                        </select>

                        <select style="width:80px;font-size:15px;height:35px">
                            <option value='0'>YY</option>
                            <option ng-repeat="i in getNumber(40) track by $index" value="{{$index+curryear-1}}" ng-hide="{{$index}}==0">{{$index+2015}}</option>
                        </select>

                    </p>
                </li>
                <li style="display:inline;float:left;margin-left:5px">
                    <label style="display:block;text-align:left">CVV/SECURITY CODE</label>
                    <p style="display:block;float:left">
                        <input type="text" ng-pattern="/^[0-9]{3,3}$/" style="width:50px;height:35px">
                    </p>
                </li>
                <md-button class="md-raised md-primary" style="display:block;clear:both;left:-8px;width:235px;">Pay now</md-button>
            </ul>
        </div>
        <div ng-show="paymentOption=='debitCard'" style="margin:auto;float:left;">
            <p style="text-align:left;margin-left:38px">Enter your Debit Card details</p>


            <ul  style="clear:both;margin:auto">
                <li style="display:block;float:left">
                    <label style="display:block;text-align:left;text-transform:uppercase">debit Card Number</label>
                    <p style="display:block">
                        <input type="text" ng-pattern="/^[0-9]{16,16}$/" max-length="19" style="width:100%;max-width:250px;;height:35px">
                    </p>
                </li>
                <li style="display:block;float:left;clear:both">
                    <label style="display:block;text-align:left;text-transform:uppercase">Expiry Date</label>
                    <p>
                        <select style="width:80px;font-size:15px;height:35px">
                            <option value='0'>MM</option>
                            <option ng-repeat="i in getNumber(number) track by $index" value="{{$index}}" ng-hide="{{$index}}==0">{{$index}}</option>
                        </select>

                        <select style="width:80px;font-size:15px;height:35px">
                            <option value='0'>YY</option>
                            <option ng-repeat="i in getNumber(40) track by $index" value="{{$index+curryear -1}}" ng-hide="{{$index}}==0">{{$index+2015}}</option>
                        </select>

                    </p>
                </li>

                <li style="display:block;float:left;margin-left:5px">
                    <label style="display:block;text-align:left">CVV</label>
                    <p style="display:block">
                        <input type="text" ng-pattern="/^[0-9]{3,3}$/" style="width:50px;height:35px">
                    </p>
                </li>
                <md-button class="md-raised md-primary" style="display:block;clear:both;left:-8px;width:100%;max-width:250px;">Pay now</md-button>
            </ul>
        </div>
        <div ng-show="paymentOption=='netBanking'" style="margin:auto;float:left;">
            <p style=" text-align:left;margin-left:38px">Pay using your preferred bank</p>
            <ul style="clear:both;">
              <li style="display:block;float:left;clear:both">
                  <label style="display:block;text-align:left;">Select Bank</label>
                  <p>
                      <select style="width:250px;font-size:15px;height:35px">
                          <option value='0' style="text-transform:uppercase;font-size:9px">Select Bank</option>
                          <option ng-repeat="i in banks" value="{{$index}}" ng-hide="{{$index}}==0">{{i}}</option>
                      </select>
                  </p>
              </li>
              <md-button class="md-raised md-primary" style="display:block;clear:both;left:-8px;width:250px">Pay now</md-button>
            </ul>

        </div>
    </div>
</div>
