<div layout="row" style="padding:100px">
    <div layout="column" flex-offset="10" flex="80" flex-offset-sm="5" flex-offset-xs="0" flex-sm="90" flex-xs="100" style="text-align:left;">
        <div layout="row" layout-align-xs="center center">
            <h2 style="text-align:left; text-transform:none">Goryd Renter Policies and Procedures</h2>
        </div>
        <p style="font-size:15px;">
            <div layout="row" layout-align-xs="center center">
                <h3 style="text-align:left; text-transform:none">Renter Policies</h3>
            </div>
            While renting a vehicle you agree to the following policies for each Rental:
            <ul style='text-align:justify;'>
                <li type='1'>
                    Cars may only be rented for personal use. Cars may not be used to carry passengers for hire or property for hire without the permission of Goryd.
                </li>
                <li type='1'>
                    Renters may not engage in competitive driving or racing; carrying passengers other than in the interior or cab of the Car; carrying passengers or anything else in excess of the capacity of the Car; using the Car to push, propel or tow another car,
                    trailer or any other thing; or illegal or dangerous activities. Renters must drive and park with reasonable care, keep the Car clean, and return it on time.
                </li>
                <li type='1'>
                    Renters must return the car with the same amount of fuel in the tank as there was at the start of the rental. If the fuel is not filled back to the level present at the beginning of the rental, renters will be subject to the Fuel Fee as stated in
                    Goryd's Fee and Commission Schedule
                </li>
                <li type='1'>
                    No pets allowed in cars
                </li>
                <li type='1'>
                    No smoking is allowed in Cars unless specifically designated by the car owner.
                </li>
                <li type='1'>
                    Cars may not be driven outside India.
                </li>
                <li type='1'>
                    Cars may not be driven out of the state or outside of a designated radius without the consent of the Owner and Goryd.
                </li>
                <li type='1'>
                    The Renter may not carry out a crime or participate in any other illegal activity while operating a Car.
                </li>
                <li type='1'>
                    The Renter is prohibited from using the Car for any negligent use where the intent is abusive or abnormal for its operation.
                </li>
                <li type='1'>
                    Only the authorized Renter may operate the Car.
                </li>
                <li type='1'>
                    Before driving the Car, Renters will be given the option to submit electronic photographs of any pre-existing damage as permitted by the Service. Renters may be liable for any damage they fail to document before driving the Car, at the discretion of
                    Goryd.
                </li>
                <li type='1'>
                    Renter agrees to be solely liable for parking tickets, traffic citations, and other violations that occur during the Rental, and all fees resulting from such violations. Renters must park in a location that the car may stay for 24 hours after their
                    trip. It is the sole responsibility of the Renter to pay these fees in a timely manner and to comply with all legal obligations that arise from such violations.
                </li>
                <li type='1'>
                    Renter is solely responsible for paying all tolls, and fines resulting from improperly paid tolls, incurred during the Rental.
                </li>
                <li type='1'>
                    Goryd may provide roadside assistance for accidents and breakdowns that occur during a Rental. This is decided on a case-by-case basis. If Goryd coverage is not available for any reason, or if the Renter is negligent in a way that results in or
                    contributes to the breakdown, it is the Renter's sole responsibility to arrange for and pay for towing the Car. The Renter is responsible for returning the Car to its Rental location following any tow.
                </li>
                <li type='1'>
                    Renters may not place stickers, signs, symbols, or other devices, modifications, advertisements or publicity materials on the interior or exterior of the Car without the permission of Goryd.
                </li>
                <li type='1'>
                    Renter may not pick up hitchhikers or persons unknown to the Renter while in the Car.
                </li>
                <li type='1'>
                    Renters may not operate the Car while under the influence of any prescription or non-prescription drug for which driving during use is not recommended on the label, or by reasonable opinion of a pharmacist or doctor.
                </li>
                <li type='1'>
                    Renters may not operate devices that require one or both hands while driving, including but not limited to cell phones, mobile computers, or devices that allow texting. Goryd discourages Renters from engaging in any activity that takes the Renter's
                    attention off the road while driving.
                </li>
                <li type='1'>
                    Renters must obey all applicable seat-belt laws while in rented Cars. Goryd recommends that every person in the Car wear a seat belt at all times.
                </li>
                <li type='1'>
                    Renters may not drive while wearing any device that limits the Renter's ability to hear, see, and otherwise judge driving conditions. Renters must follow all applicable laws governing headphone use in Cars, which may differ state by state.
                </li>
                <li type='1'>
                    The Renter is not responsible for routine maintenance and repairs of the Car. The Renter may be held liable for the repair cost for of all other repairs of damage to the car during the Rental, and must follow the reporting, claims processing, and
                    repair procedure set forth below for all such damage.
                </li>
                <li type='1'>
                    If a Renter incurs any traffic incident or driving violation that affects the Renter's eligibility in the Service as described in the Renter's Eligibility section, that Renter becomes immediately ineligible and must indemnify both Goryd and the
                    respective Vehicle Owner for any and loses that might occur as a result of that Renter's operation of a Goryd vehicle.
                </li>
                <li type='1'>
                    For every rental, the Renter will be charged a nominal booking fee as outlined by Goryd's Fee and Commission Schedule.
                </li>
                <li type='1'>
                    Cancelling rentals will result in a fee as outlined by Goryd's Fee and Commission Schedule.
                </li>
                <li type='1'>
                    Returning a vehicle late will result in a fee as outlined by Goryd's Fee and Commission Schedule.
                </li>
                <li type='1'>
                    Failing to show up to rent a Car will result in a fee as outlined by Goryd's Fee and Commission Schedule.
                </li>
            </ul>
        </p>
        <p style="font-size:15px;">
            <div layout="row" layout-align-xs="center center">
                <h3 style="text-align:left; text-transform:none">Insurance Claim</h3>
            </div>
            You agree to the following Insurance Claim Procedures for each Rental.
            <ul style='text-align:justify;'>
                <li type='1'>
                    Be manufactured on or after the year 2006
                </li>
                <li type='1'>
                    The Renter is liable for the Damage Fee associated with Goryd Insurance coverage, and any amounts beyond that which the Renter is deemed liable for, such as damages resulting from negligence or other Exclusions. The Damage Fee amount may be withdrawn
                    or charged directly to the Renter's credit card by Goryd. The Damage Fee amount and other fees are listed in the Fee and Commission Schedule.
                </li>
                <li type='1'>
                    Goryd will assess all damages at a Goryd approved vendor at Goryd's sole discretion or an approved vendor selected by the Goryd Insurance provider.
                </li>
                <li type='1'>
                    Renters are expected to report damage resulting from their rental within 48 hours of the end of their trip occurring. If a claim is not reported within 48 hours, the Renter waives their right to Goryd Insurance coverage and is liable for the full
                    cost of repair.
                </li>
                <li type='1'>
                    Incident reports are monitored to assure timely submission and processing of claims.
                </li>
            </ul>
        </p>
    </div>
</div>
