<div layout="row" style="padding:100px">
    <div layout="column" flex-offset="10" flex="80" flex-offset-sm="5" flex-offset-xs="0" flex-sm="90" flex-xs="100" style="text-align:left;">
        <div layout="row" layout-align-xs="center center">
            <h2 style="text-align:left; text-transform:none">Terms of Service</h2>
        </div>
        <p style="margin: 0 0 10px 0;font-size:14px;line-height: 1.5;font-family: 'Roboto', sans-serif;">
            Welcome to goryd.in, a peer-to-peer car rental marketplace web site and online service provided by Eneo Technologies Pvt. Ltd. ("Goryd", "we" or "us"). This Terms of Service Agreement ("Agreement") describes the terms and conditions that govern your
            use of and participation in Goryd services. Goryd services include our web sites (goryd.in, goryd.com), web widgets, feeds, mobile device software applications (the "Goryd Software"), applications for third-party web sites and services, and any other
            mobile or online services and/or applications owned, controlled, or offered by Goryd (collectively the "Service"). By accessing or using the Service, you signify that you have read, understood, and agree to be bound by this Agreement and to the
            collection and use of your information as set forth in the Goryd Privacy Policy whether or not you are a registered user of our Service. We reserve the right to amend this Agreement at any time by notifying you as provided in this Agreement, provided
            that no notice shall be required for non-substantive changes to the Agreement. If we substantively amend this Agreement, we will give you at least thirty (30) days notice before the changes take effect, during which period of time you may reject the
            changes by terminating your account. Your continued use of the Service after any such change constitutes your acceptance of the revised Agreement. If you do not agree to any of these terms or any future amendments, do not use or access (or continue
            to access) the Service. This Agreement applies to all visitors, users, and others who access the Service ("Users"). <span style="text-transform:uppercase;font-weight:110%;">PLEASE READ THIS AGREEMENT CAREFULLY TO ENSURE THAT YOU UNDERSTAND EACH PROVISION. YOU UNDERSTAND AND AGREE THAT GORYD IS NOT A PARTY
            TO ANY AGREEMENTS ENTERED INTO BETWEEN RENTERS AND OWNERS, NOT IS GORYD A TRANSPORTATION SERVICE, AGENT OR INSURER. GORYD HAS NO CONTROL OVER THE CONDUCT OF RENTERS OR OWNERS AND OTHER USERS OF THE SERVICE AND DISCLAIMS ALL LIABILITY IN THIS REGARD.
            THIS AGREEMENT CONTAINS A MANDATORY ARBITRATION OF DISPUTES PROVISION THAT REQUIRES THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS, AND ALSO LIMITS THE REMEDIES AVAILABLE TO YOU IN THE
            EVENT OF A DISPUTE.</span> We may, in our sole discretion, modify or update this Agreement from time to time, and so you should review this page periodically. When we change the Agreement, we will update the "last modified date at the top of this page". If
            there are material changes to this Agreement, we will notify you either by prominently posting a notice of such changes prior to implementing the change or by directly sending you a notification. Your continued use of the Service after any such
            change constitutes your acceptance of the new Terms of Use. If you do not agree to any of these terms or any future Terms of Use, do not use or access (or continue to access) the Service.
        </p>
        <p style="margin: 0 0 10px 0;font-size:14px;line-height: 1.5;font-family: 'Roboto', sans-serif;">
            <ul style='text-align:justify;'>
                <li type='1'>
                    <span style='font-weight:700;'>Use of Our Service</span>
                    <ul>
                        <li type='1' >
                          <span style='font-weight:700;'>Eligibility</span>
                            <br>
                            <span >
                                This Service is intended solely for licensed drivers twenty three (23) years of age or older, and any registration, use or access to the Service by anyone under 23 is strictly prohibited and in violation of this Agreement. All Users must pass our
                                Renter and Vehicle Eligibility Requirements and must provide all necessary documentation for determining eligibility throughout your use of the Service as may be determined by Goryd in its sole discretion. You acknowledge and agree that Goryd may
                                change its Renter Eligibility Requirements at any time and for any reason.
                            </span>
                        </li></br>
                        <li type='1'>
                            The Owner is responsible for maintaining the Car in a way that is safely operable by any Renter. The Owner may not place in the Car any modifications, devices, equipment or other items that may interfere with the safe operation of the vehicle.
                        </li></br>
                        <li type='1'>
                            The Owner is responsible for making sure that the Car is clean at the start of each Rental period.
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>
